@{
    ViewData["Title"] = "Compra Exitosa";
}

<h2>¡Compra realizada con éxito!</h2>
<p>Gracias por tu compra. Hemos recibido el pago correctamente y te hemos enviado un correo de confirmación con los detalles de la compra.</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al inicio</a>
